{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retour sur l'accueil de mon compte</a>
    <hr>
    {{ form(form) }}
    <hr>
{% endblock %}
