{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block body %}
    <h3 class="font-weight-bold">Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus actuellement</p>
    <div class="row">
        {% for product in bestProducts %}
            <div class="col-3">
                {{ include('product/_single_product.html.twig') }}
            </div>
        {% endfor %}
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une équipe de professionnels <span
                        class="text-muted">au grand savoir-faire.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('images/first.jpg') }}" alt="Un savoir-faire français" class="img-fluid">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Venez à notre rencontre dans nos différentes <span
                        class="text-muted">boutiques en France.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('images/second.jpg') }}" alt="Une boutique ouverte toute l'année" class="img-fluid">
        </div>
    </div>
{% endblock %}
