{% extends 'base.html.twig' %}

{% block body %}
    <div class="block-small">
        <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialiser mon mot de passe</h1>
        {{ form(form) }}
    </div>
{% endblock %}
