{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <h3>Filtrer</h3>
            {{ form(search_form) }}
        </div>
        <div class="col-9">
            <h3>Nos Produits</h3>
            <div class="row product-container">
                {% for product in products %}
                    <div class="col-4">
                        {{ include('product/_single_product.html.twig') }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
